<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/profile.css" />
  </head>
  <body>
    <h1>Profile</h1>
    <main>
      <img
        src="https://images.unsplash.com/photo-1534607287018-541c7d97748f?crop=entropy&cs=srgb&fm=jpg&ixid=M3wzMjM4NDZ8MHwxfHJhbmRvbXx8fHx8fHx8fDE3MDg2MDY2ODF8&ixlib=rb-4.0.3&q=85"
        alt=""
      />
      <h1><%= user.fullname %></h1>
      <h2>@<%= user.username %></h2>
      <p>Tagline</p>
      <a href="/logout">Logout</a>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" />
        <input type="submit" value="Submit" />
      </form>
    </main>
  </body>
</html>
