#glassmorph{
  background: #c5e1ff1a;
box-shadow: 0 8px 32px 0 rgba(64, 71, 182, 0.37);
backdrop-filter: blur( 40px );
-webkit-backdrop-filter: blur( 0px );
border-radius: 10px;
border: 1px solid rgba(248, 248, 248, 0.18);
}
.or::before, .or::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: #c0c0c0a5;
}
.or::before {
  left: 0;
}
.or::after {
  right: 0;
}